canvas {
  position: absolute;
  left: 500px;
  top: 150px;
}
p.big {
  font-size: 15px;
  margin-left: 0px;
}

label{
  display:inline-block;
  float: right;
  top: 10px;
}

#kaleidSlider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.wrapper{
  float:left;
  width:100%;
  text-align:center;
}
.button{
  display:inline-block;
}

collapsible {
  /* background-color: #777; */
  /* color: white; */
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  /* background-color: #555; */
}

.collapsible:after {
  content: '\002B';
  color: red;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

 .range-wrap {
   position: relative;
   margin: 0 auto 3rem;
   width: 75%;
 }
 .range {
   width: 100%;
 }
 .bubble {
   background: red;
   color: white;
   padding: 2px 8px;
   position: absolute;
   border-radius: 4px;
   transform: translateX(-50%);
 }
 .bubble::after {
   content: "";
   position: absolute;
   width: 2px;
   height: 2px;
   background: red;
 }

 *, *:before, *:after {
	 box-sizing: border-box;
}

/* class for centering elements in the sidebar */
.centred{
 	 width: 200px;
 	 padding-top: 25px;
  padding-bottom: 0px;
 	margin: 0 auto;
  margin-top: -40px;
  text-align: center;
}


/* this is the slider logic */
 form {
	 width: 200px;
	 padding-top: 25px;
   padding-bottom: 0px;
	 margin: 0 auto;
}
 .range-control {
	 position: relative;
}
 input[type=range] {
	 display: block;
	 width: 100%;
	 margin: 0;
	 -webkit-appearance: none;
	 outline: none;
}
 input[type=range]::-webkit-slider-runnable-track {
	 position: relative;
	 height: 12px;
	 border: 1px solid #b2b2b2;
	 border-radius: 5px;
	 background-color: #e2e2e2;
	 box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
 input[type=range]::-webkit-slider-thumb {
	 position: relative;
	 top: -5px;
	 width: 20px;
	 height: 20px;
	 border: 1px solid #999;
	 -webkit-appearance: none;
	 background-color: #fff;
	 box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
	 border-radius: 100%;
	 cursor: pointer;
}
output {
  position: absolute;
  top: 22px;
  display: none;
  width: 50px;
  height: 27px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 3px;
  color: #777;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
}

 input[type=range]:active + output {
	 display: block;
	 transform: translateX(-50%);
}
